<div class="event-box">
	<div class="heading-top">
		<h2>Events</h2>
	</div>

	<ul>
		<li>
			<div class="img-frame-event">
				<img src="/images/img-c1.jpg" alt="" />
			</div>
			<div class="text-desc-event">
				<h5>Duis molestie nunc les.</h5>
				<p>Duis molestie nunc nec felis sollicit udin sed ornare lorem varius.</p>
			</div>
		</li>
		<li>
			<div class="img-frame-event">
				<img src="/images/img-c2.jpg" alt="" />
			</div>
			<div class="text-desc-event">
				<h5>Duis molestie nunc les.</h5>
				<p>Duis molestie nunc nec felis sollicit udin sed ornare lorem varius.</p>
			</div>
		</li>
		<li>
			<div class="img-frame-event">
				<img src="/images/img-c3.jpg" alt="" />
			</div>
			<div class="text-desc-event">
				<h5>Duis molestie nunc les.</h5>
				<p>Duis molestie nunc nec felis sollicit udin sed ornare lorem varius.</p>
			</div>
		</li>
	</ul>
</div>