<div class="sign-in-field">
	<input type="text" id="search_input" value="Search VtagO" class="txt-field" onfocus="if(this.value == 'Search VtagO') { this.value = ''; }" onblur="if(this.value == '') { this.value = 'Search VtagO'; }" name="q" >
	<a id="search_button" onclick ="location.href='/video/search_results?q='+document.getElementById('search_input').value;">Search Button</a>
</div>