<% @page_title = 'Sign in' %>

<img class="logo" src="images/logo.png">
<div class="images_page2">
  <img class="image_page2" src="images/image1.png">
  <img class="image_page2 ; marginleft_image" src="images/image2.png">
  <img class="image_page2 ; marginleft_image" src="images/image3.png">
</div>

<div class="borders">
  <div class="border_page2"></div>
  <div class="border2_page2"></div>
  <div class="border2_page2"></div>
</div>

<div class="texts_page2">
  <div class="text_page2">Upload a video or select a favorite Facebook/Youtube one</div>
  <div class="text2_page2">We'll and for you where and when your friends appear</div>
  <div class="text2_page2">Send each Vtagged friend his own personal video!</div>
</div>

<div class="border3_page2">
  <%= link_to image_tag('/images/login_with_facebook.png'), '/auth/facebook' ,:class => 'login_with_facebook'%>
</div>

<img class="big_image_video" src="images/big_image_video.png">