<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">

<html lang="en">
	<head>
	    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	    <!--style type="text/css" media="screen">
	      h3 {  font-family: Arial, Helvetica, sans-serif; color: #00555A; }
	    </style-->
	</head>
	<body>
    <h1> We're fucked!!!!!</h1>
    <p> <%= @exception %> </p>
	</body>
</html>
