<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">

<html lang="en">
	<head>
	    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	    <style type="text/css" media="screen">
	      h3 { color: font-family: Arial, Helvetica, sans-serif;
							color: #00555A;; }
	    </style>
	</head>
	<body>
		<h3> Hi <%= @user.nick %>, </h3>
		<h3> Welcome to VtagO! </h3>
		<h3> Thank you for subscribing. </h3>
		<h3> Ready to begin sharing your videos and Vtagging your friends? <a href="http://www.vtago.com/beta">Go to VtagO</a></h3>
		<h3> Enjoy! :-) </h3>
		<h3> VtagO team. </h3>
	</body>
</html>