Hi <%= @user.nick %>,
Welcome to VtagO!
Thank you for subscribing.

Ready to begin sharing your videos and Vtagging your friends?
<a href="http://www.vtago.com/beta">Go to VtagO</a>

Enjoy!
VtagO team.