<title>Comment Published</title>

<div id="signin_content_wrapper">
	<div id="signin_content">
		<div id="left_col">
			<div class="bg-shadow">&nbsp;<!--this is for side shadow --></div>
			<div class="signin_form_heading">
				<div id="error_explanation">
					<% if !@done && @comment.errors.any? %>
			  		<h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>
			  		<ul>
			  			<% @comment.errors.full_messages.each do |msg| %>
			    			<li><%= msg %></li>
			    		<% end %>
			  		</ul>
					<% else %>	
						<h2><p><%= "Your comment has been published successfully!" %> </p></h2>
					<% end %>
				</div>
			</div>
			<%= link_to 'Back', @ref %>
		</div>
		<div id="right_col">
			<a href="#">
				<img src="/images/banner-signin.jpg" alt="" />
			</a>
		</div>
		<br class="clear" />
	</div>
</div>




