
<head>
	<title><%= @page_title %></title>
</head>
<body>
	<div class="vtag_video wrapper">
		<div id="fb_left_content">
		<h2><%= @page_title %></h2>
		<br/>
			<h3>VtagO - video just got personal</h3>
			<p>VtagO presents a cool innovative way to upload your favorite videos and share with your friends:</p>
			<ul>
				<li>- Upload your videos</li>
				<li>- Easily tag your friends</li>
				<li>- Send each one of your friends a personalized edited video for him to enjoy</li>
			</ul>
			<p>VtagO has revolutionized the way people share videos with their friends by allowing the user to tag friends by using faces extracted from the 
				video itself and connecting them with the user’s friends.</p>
				<p>In addition, each friend will get a personalized video showing only the parts of the video in which he can see himself, therefore giving every user his own personal experience.</p>
				<h3>VtagO - one video 100 different experiences</h3>
			</div>
		</div>
	</body>
</div>	

