@charset "utf-8";
/* CSS Document */

/* Default Facebook CSS */
.hide{
	display:none;
}
.show{
	display:block;
}
.clr{
	clear:both;
}
.left{
	float:left;
}
.red{
	background-color: #CCC;
}
.circle {
    display: block;
    width: 16px;
    height: 16px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border: 1px solid #C4C4C4;
}
.radious_6{
	-webkit-border-radius: 6px;
-moz-border-radius: 6px;
border-radius: 6px;
}
.shadow{
    width: 374px;
    min-width: 200px;
    min-height: 130px;
    margin: auto;
    background: #ffffff;
    border: 5px solid white;
    position:relative;
        box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.34);
    -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.34);
    -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.34);
}

li{
	list-style-type:none;
}
hr{
background-color: #c1d2d3;

}
h1, h2, h3,p{
	font-family: Arial, Helvetica, sans-serif;
}

h1, h2 {
	font-size: 18px;
	color: #00555A;
	line-height: 16px;
	text-align:center;
}

h3{
	color:#00555A;
	font-size:12px;
	font-wight:bold;
}

p{
	line-height:20px;
	font-size:12px;
}
body {
	z-index:1;
	background-color: #CCC;
	margin:0px;
	font-family: "lucida grande" ,tahoma,verdana,arial,sans-serif;
	font-size: 11px;
	color: #333333;
		}
		
.fbbody,#fb_header,#outer-bottom-footer {
		width: 760px;
}		
.fbbody
{
	font-family: "lucida grande" ,tahoma,verdana,arial,sans-serif;
	font-size: 11px;
	color: #333333;
	height: 768px;
	margin-left: auto;
	margin-right: auto;
	background-color: #FFF;
}

#fb_header{
	height: 100%;
	margin-left: auto;
	margin-right: auto;

}
#logo{
	position:relative;
	top:-1px
}
#fb_nav ul {	
 display:block;
 float:right;
 border:1px solid red;
 margin-top:10px;
 height:150px;
 width:300px;		
}
ul#fb_nav  li{
padding:6px 2px 0px 2px;
margin-top:10px;
float:left;	
}

.logo {
	height: 50px;
	width: 193px;
	float: left;
	text-align: center;
	vertical-align: middle;
}
.main_tabs {
	float: left;
	height: 31px;
	width: 400px;
	vertical-align: bottom;
	border-bottom-style: solid;
	border-bottom-color: #666;
	border-bottom-width: 3px;
	padding-bottom: 2px;
	padding-top: 35px;
}

.fb_header{
	color:
}

div.fb_header{
	margin:15px auto 10px auto;
	width:480px;
}

/*   ----------------- tooltip --------------------------- */
a.info{
    position:relative; /*this is the key*/
    left:-10px;
    top:3px;
    z-index:24; 
    color:#000;
    text-decoration:none;
    cursor:pointer;
    text-align:center;
    float:right;
    }

a.info:hover{z-index:25; background-color:#D1DEDF}

a.info span{
	display: none;
	font-weight:normal;
	line-height:15px;
	}

a.info:hover span{ /*the span will display just on :hover state*/
    display:block;
    position:absolute;
    top:2em; left:-2em; width:13em;
    padding:5px;
    border:1px solid #0cf;
    background-color:#D1DEDF; color:#000;
    text-align: center}


/*  ------------------- facebook about ------------------------ */
#fb_about{
margin:30px auto 0px auto;
width:500px;
}
/*  ------------------- facebook upload ------------------------ */

ul#fb_upload{
	padding:30px 30px 30px 30px;
	border:1px solid #c1d2d3;
 	margin:30px auto 0px auto;
	width:480px;
	z-index:2;
	
}
ul#fb_upload li{
	padding:5px 0px 5px 0px;
}
ul#fb_upload li.seperator{
	padding-top:20px;
	color:#c1d2d3;
	border-bottom:1px solid #c1d2d3;
}

ul#fb_upload li label{
	display:block;
	width:100px;
	float:left;
	color:#3B5998;
	font-weight:bold;
	font-size:12px;
}


ul#fb_upload li.send_form{
	padding:20px 0px 0px 70px;
}

/* assign style to the submit button text */
/*ul#fb_upload li.send_form input{ 
	color:#3B5998;
	font-weight:bold;
	margin-right:25px;
	margin-left:30px;
}
*/

ul#fb_upload li.send_form a.vtag_butt{ /* assign style to the submit button text */
	position:relative;
	top:1px;
	color:#3B5998;
	font-weight:bold;
	margin-right:25px;
	margin-left:30px;
}

ul#fb_upload li.send_form a{ /* assign style to the cancel button text */
	position:relative;
	top:15px;
}

ul#fb_upload li.send_form a.cancel_link:hover{
	text-decoration:underline;
}

.fb_input_style{
width:330px;
}
	.upload_text_area{
	width:330px;
	height:150px;
}

#fb_file_upload_error,#fb_title_error,#fb_keywords_error{
	display:none;	
	color:red;
	margin-left:100px;
}
#file_upload_error div{
	margin-left:100px;
}
/* ----------- edit tags ---------------- */
#edit_submit{
	width:130px;
	margin:auto;
}
/* ---------- video list ----------------*/
ul#video_list {
	width: 547px;	
	margin:10px 10px 10px 105px;
	border:1px solid #c1d2d3;
	padding:0px;	
}
ul#video_list{
	float: left;
}
ul#video_list li{
	height:60px;
	border-bottom:1px solid #c1d2d3;
	margin:0px;		
}
ul#video_list li:last-child{
	border-bottom:transparent;
}
ul#video_list li div{	
	float:left;
}

.vtag_butt{
	display:block;
	width:130px;
	cursor:pointer;
	border:1px solid #CCCCCC;
	text-align:center;
	padding:10px 0px 10px 0px;
	background: #ffffff; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2YxZjFmMSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUxJSIgc3RvcC1jb2xvcj0iI2UxZTFlMSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmNmY2ZjYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, #ffffff 0%, #f1f1f1 50%, #e1e1e1 51%, #f6f6f6 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(50%,#f1f1f1), color-stop(51%,#e1e1e1), color-stop(100%,#f6f6f6)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%); /* IE10+ */
	background: linear-gradient(top, #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0 ); /* IE6-8 */
}

.vtag_butt:hover{
	display:block;
background: #a4c4c6; /* Old browsers */
background: -moz-linear-gradient(top, #a4c4c6 0%, #a4c4c6 100%, #e1e1e1 100%, #a4c4c6 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a4c4c6), color-stop(100%,#a4c4c6), color-stop(100%,#e1e1e1), color-stop(100%,#a4c4c6)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #a4c4c6 0%,#a4c4c6 100%,#e1e1e1 100%,#a4c4c6 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #a4c4c6 0%,#a4c4c6 100%,#e1e1e1 100%,#a4c4c6 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #a4c4c6 0%,#a4c4c6 100%,#e1e1e1 100%,#a4c4c6 100%); /* IE10+ */
background: linear-gradient(top, #a4c4c6 0%,#a4c4c6 100%,#e1e1e1 100%,#a4c4c6 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a4c4c6', endColorstr='#a4c4c6',GradientType=0 ); /* IE6-9 */
}


.video_thumb {
	padding:5px 30px 5px 15px;
	height: 48px;
	width: 90px;
	/*float: left;*/
	
}

.tag_button {
	/*float: left;*/
	padding:12px 5px 0px 0px;
}
.video_title {
	padding: 23px 30px 0px 15px;
	width: 230px;
}
.video_by{
		padding: 15px 0px 0px 05px;
}
div#title-video h1{
	position:relative;
	top:-15px;
}
.wrapper {	
	float: left;
	width:760px;
	min-height:500px;
	background-color:#ffffff;	
	padding-bottom:60px;
}
#main #new_video .upload_form ul li label {
	float: left;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 14px;
	color: #3B5998;
	width: 27px;
}
#main #new_video .upload_form ul li span {
	text-align: left;
	padding-left: 10px;
	width: 460px;
}
#main #new_video .upload_form ul li span input {
	padding-left: 10px;
}


.left_sidebar {
	height: 600px;
	width: 213px;
	text-align: center;
	float: left;
}





/* Default Anchor Style */
.fbbody a
{
	color: #3b5998;
	outline-style: none;
	text-decoration: none;
	font-size: 11px;
	font-weight: bold;
}

.fbbody a:hover
{
	/*text-decoration: underline;*/
}
/* Facebook Box Styles */
.fbgreybox
{
	background-color: #f7f7f7;
	border: 1px solid #cccccc;
	color: #333333;
	padding: 10px;
	font-size: 13px;
	font-weight: bold;
}

.fbbluebox
{
	background-color: #eceff6;
	border: 1px solid #d4dae8;
	color: #333333;
	padding: 10px;
	font-size: 13px;
	font-weight: bold;
}
/*#main .video_list .video_div {
	width: 553px;
	text-align: center;
	clear: both;
	padding-top: 20px;
	padding-bottom: 20px;
}*/

.fbinfobox
{
	background-color: #fff9d7;
	border: 1px solid #e2c822;
	color: #333333;
	padding: 10px;
	font-size: 13px;
	font-weight: bold;
}
.fberrorbox
{
	background-color: #ffebe8;
	border: 1px solid #dd3c10;
	color: #333333;
	padding: 10px;
	font-size: 13px;
	font-weight: bold;
}
/* Content Divider on White Background */
.fbcontentdivider
{
	margin-top: 15px;
	margin-bottom: 15px;
	width: 520px;
	height: 1px;
	background-color: #d8dfea;
}
/* Facebook Tab Style */
.fbtab, .fbtab_selected
{
	color: #3b5998;
	font-weight: bold;
	float: left;
	margin-right: 4px;
	text-decoration: none;
	padding: 8px;

}

.fbtab{
	background-color: #d8dfea;
}
.fbtab_selected{
	background-color: #A4C4C6;
}

#main .header {
	width: 760px;
	height: 100px;
	margin-bottom: 30px;
}



.fbtab:hover
{
	background-color: #3b5998;
	color: #ffffff;
	cursor: hand;
}
.signin-form_fb li label input  {
	float:left;
	margin-right:6px;
	width:380px;
	height:15px;
	line-height:0;
	font-size:0;
}
.signin-form_fb {
	float:left;
	width:487px;
	padding-top:5px;
}
.upload_form table tr  label{
	float:left;
	width:100px;
	padding-top:5px;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 13px;
	color: #3B59A7;
	padding-right: 5px;
	font-style: normal;
	font-weight: bold;
}
.upload_form table tr .td_input {
}



.signin-form_fb li {
	float:left;
	width:500px;
	padding-bottom:13px;
}
.signin-form_fb li label {
	display:block;
	float:left;
	width:207px;
	font-weight:bold;
	font-size:12px;
	color:#3B5998;
	font-family:Arial, Helvetica, sans-serif;
	line-height:27px;
	text-align: left;
}
#main #new_video .upload_form .signin-form_fb ul li #video_source {
	padding-left: 10px;
	float: left;
}

.signin-form_fb li span {
	display:block;
	float:left;
	width:380px;
	height:27px;
	background:url(../images/fb/bg-input-usr.png) no-repeat left top;
	padding-left: 10px;
}
.signin-form_fb li textarea {
	display:block;
	float:left;
	width:211px;
	height:27px;
	background:url(../images/fb/bg-input-usr.png) no-repeat left top;
	padding-left: 10px;
}
.signin-form_fb li select {
	display:block;
	float:left;
	width:211px;
	height:27px;
	background:url(../images/fb/bg-input-usr.png) no-repeat left top;
	padding-left: 10px;
}


.signin-form_fb li span input {
	float:left;
	width:191px;
	font-size:12px;
	color:#3B5998;
	font-family:Arial, Helvetica, sans-serif;
	background:none;
	padding-top: 6px;
	padding-right: 10px;
	padding-bottom: 6px;
	padding-left: 10px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	height: 15px;
}
.signin-form_fb li div {
	float:left;
	padding-left:81px;
	width:211px;
	padding-top:5px;
	padding-bottom:2px;
}
.signin-form_fb li div label {
	font-weight:normal;
	width:auto;
	font-size:11px;
	line-height:15px;
	color:#6f6f6f;
	width:120px;
}
img.profile_pic{
	margin-right:5px;
}
/* --------------- footer and header sections --------- */
#outer_header {
width:100%;
border-top:5px solid #00555a;
/*height:72px;
background:url(../images/fb/bg-outer-header.gif) repeat-x top;
*/
height:80px;
background:url(../images/new_header_vitago.png) repeat-x top;
border-bottom:1px solid #d1d1d1;
position:relative;
z-index:1000;
}

#outer-bottom-footer {
padding-bottom:12px;
background:url(../images/fb/bottom-footer.gif) repeat-x bottom;
margin:auto;
height:100px;
background-color:#ffffff;
}

#outer-footer {
float:left;	
width: 760px;
border-top: 1px solid #C1D2D3;
background: url(../images/fb/bg-gr-footer.gif) repeat-x top white;
padding-top: 16px;
}

ul#fb_footer{
 	margin:0px auto 0px auto;
	width:600px;	
}
ul#fb_footer li{
	float:left;
	padding:5px;
	
}
ul#fb_footer li.sep{
color:#AFAFAF
}
ul#fb_footer li.footer_text{
	width:90px;
	text-align:center;
}
ul#fb_footer li a:active,ul#fb_footer li a:link,ul#fb_footer li a:visited{
	color:#00555A;
	font-weight:bold;
	font-size:12px;
	text-decoration:none;
}

ul#fb_footer li a:hover{
	text-decoration:underline;
}

#footer_rights{
	margin:30px auto 0px auto;
	width:600px;
	text-align:center;
}
#footer_rights p{
	font-size:10px;
}

/* ********************************** Loading div *************************** */
#mask {
  position:absolute;
  z-index:9000;
  background-color:#AFAFAF;
  display:none;
 }
 #boxes .window {
  position:absolute;
  display:none;
  z-index:9999;
  padding:20px;
  border:2px solid #c1d2d3;
}
 
#boxes #dialog {
  width:360px; 
  height:400px;
  background-color:#ffffff;
  text-align:center;
}
#loading_text{
	text-align:center;
}
#fb_advertisement{
 
margin:0px auto 20px auto;
width:336px;
height:280px;
border:1px solid #AFAFAF /* this border should be removed when the actual advertisement will be added */	
}
#loading_anim{
	margin-bottom:10px;
}
/*  video player page */

.fb_video-slider {
padding:11px 10px 11px 11px;
float:left;
height:307px;
width:527px;
}

.fb_panel-video,.fb_panel-video-actions {
float: left;
width: 547px;
height: 34px;
background: url(../images/fb/bg-panel.gif) repeat-x top;
border: 1px solid #CDCDCD;

margin-bottom: 12px;
clear:both;
}
.fb_panel-video{
margin-top: 8px;	
}

.fb_panel-left {
float:left;
width:615px;
}
.panel-left li {
float:left;
background:url(../images/bg-dbl-bord.gif) repeat-y left top;
padding-left:2px;
}
.panel-left li a {
display:block;
float:left;
height:34px;
font-family:Arial, Helvetica, sans-seri;
font-size:12px;
font-weight:bold;
color:#000;
text-decoration:none;
line-height:32px;
text-decoration:none;
}
.fb_panel-left li a:hover {
color:#00555a;
}
.fb_panel-left li a.panl-1 {
background:url(../images/fb/bg-panl-1.png) no-repeat 15px 11px;
width:80px;
padding-left:35px;
}
.fb_panel-left li a.panl-2 {
background:url(../images/fb/bg-panl-2.png) no-repeat 15px 11px;
width:80px;
padding-left:35px;
cursor:pointer;
}
.fb_panel-left li a.panl-4-delete{
width:80px;
padding-left:35px;
background:url(../images/fb/delete_icon.png) no-repeat 10px 8px;
}
.fb_panel-left li a.panl-4-edit{
width:80px;
padding-left:35px;
background:url(../images/fb/edit_icon.png) no-repeat 8px 5px;
}
.fb_panel-left li a.panl-3 {
background:url(../images/fb/bg-panl-3.png) no-repeat 13px 10px;
width:40px;
padding-left:35px;
}
.fb_panel-left li a.panl-4 {
background:url(../images/fb/bg-panl-4.png) no-repeat 15px 10px;
width:80px;
padding-left:35px;
}
.fb_panel-left li a.panl-5 {
background:url(../images/fb/bg-panl-5.png) no-repeat 12px 10px;
width:35px;
padding-left:30px;
}
#fb_title-video {
width:547px;
float:left;
height:30px;
border-bottom:1px solid #fff;
background:url(../images/fb/bg-nav-slider.gif) repeat-x top;
padding-top:9px;
/*padding-left:12px;*/
/*padding-right:8px;*/
}
.fb_user_info{
	padding-right:8px;
}
#fb_title-video h1 {
	position:relative;
top:-20px;
padding-bottom:0;
line-height:18px;
padding-top:13px;
padding-left:5px;
float:left;
font-size:14px;
}
#fb_banner_slider {
width:547px;
float:left;
background:#e7e7e7;
border-top:1px solid #d1d1d1;
/*margin-left:55px;*/
margin-top:10px;
}
.fb_panel-right {
padding-top:6px;
width:222px;
padding-right:8px;
}
.fb_panel-right h3 {
float:left;	
position:relative;
top:-15px;
background:url(../images/fb/bg-icon-stat.gif) no-repeat left 0px;
padding-left:35px;
font-size:15px;
color:#202020;
margin-left:20px;
width:200px;

}

.fb_panel-right h3 strong {
	position:relative;
	top:2px;
margin-left:10px;
font-size:16px;
color:#00555a;
}
div.fb_panel-video textarea{
	position:relative;
	top:4px;
	margin-left:5px;
	float:left;
	width:250px;
	height:20px;
	border:1px solid #d1d1d1;
}
.fb-uploader-info{
	float:right;
}

.fb_panel-left {
float:left;
width:615px;
}
.fb_panel-left ul{
	position:relative;
	top:-10px;
	left:-40px;
	margin-right:0px;
}
.fb_panel-left li {
	margin-top:0px;
float:left;
background:url(../images/fb/bg-dbl-bord.gif) repeat-y left top;
padding-left:2px;
}
.fb_panel-left li a {
display:block;
float:left;
height:34px;
font-family:Arial, Helvetica, sans-seri;
font-size:12px;
font-weight:bold;
color:#000;
text-decoration:none;
line-height:32px;
text-decoration:none;
}
.fb_panel-left li a:hover {
color:#00555a;
}
.fb_panel-left li a.panl-1 {
background:url(../images/fb/bg-panl-1.png) no-repeat 15px 11px;
width:80px;
padding-left:35px;
}
.fb_panel-left li a.panl-2 {
background:url(../images/fb/bg-panl-2.png) no-repeat 15px 11px;
width:80px;
padding-left:35px;
cursor:pointer;

}
.fb_panel-left li a.panl-3 {
background:url(../images/fb/bg-panl-3.png) no-repeat 13px 10px;
width:40px;
padding-left:35px;
}
.fb_panel-left li a.panl-4 {
background:url(../images/fb/bg-panl-4.png) no-repeat 15px 10px;
width:80px;
padding-left:35px;
}
.fb_panel-left li a.panl-5 {
background:url(../images/fb/bg-panl-5.png) no-repeat 12px 10px;
width:35px;
padding-left:30px;
}
div#fb_updated{
margin-left:55px;
}
#fb_left_content {
width:547px;
/*float:left;
margin-left: 55px;*/
margin:auto;
}

.fb_share-panel-top{
	position:relative;
	top:-5px;
	width:190px;
	float:right;
}
.fb_share-panel {
width:547px;
height:100%;
/*width:630px;*/
/*border:1px solid #cdcdcd;*/
position:relative;
/*padding:18px 8px 8px 8px;*/
/*margin-bottom:10px;*/
}
.fb_social-network-group {
float:left;
background:#f2f2f2;
padding:8px 0;
width:100%;
border:1px solid #d0d0d0;
}
#b_share{
	float:left;
	width:250px;
	padding-left:15px;;
}
.fb_video-info {
float:left;
width:650px;
padding-top:5px;
margin-bottom:10px;

}
.fb_left-info-box ul li.nobg {
background:none;
padding-left:0;
}
.fb_left-info-box{
float:left;
width:425px;

}
.fb_left-info-box ul {
float:left;
width:425px;
padding-bottom:8px;
padding-left:0px;
}
.fb_left-info-box ul li {
float:left;
background:url(../images/fb/bg-sep-signin.gif) no-repeat left 3px;
padding:0 6px 0 8px;
line-height:16px;
font-family:Arial, Helvetica, sans-serif;
color:#6f696b;
}
.fb_left-info-box ul li a {
font-weight:bold;
color:#00555a;
}

div.fb_panel-video div.addthis_toolbox{
	margin-top:5px;
	width:163px;
	float:right;
}
div.fb_panel-video a.addthis_button_tweet{
	width:85px;
}
div.fb_panel-video a.addthis_button_google_plusone{
	width:70px;
}
div#fb_in_this_video{
	float:left;
	width:100%;
	background-color:#f2f2f2;
	border-left:1px solid #cdcdcd;
	border-right:1px solid #cdcdcd;
}

#fb_in_this_video h2{
text-align:left;
padding-top:10px;
padding-left:15px;
font-size:14px;
}
div#tagged,div.video_description{
	padding-top:2px;
padding-left:15px;
}
div.video_description{
	width:500px;
	line-height:18px;
	font-size:12px;
}

/* ================================== Edit tags page ======================================== */
div#not_found_tags,div#not_found_tags_back{
		margin:auto;
}
div#not_found_tags_back{
	margin-top:20px;
	width:130px;
}
div#not_found_tags{
	width:350px;
	height:100px;
	border:1px solid #d1d1d1;

	margin-top:50px;
}
div#not_found_tags h2{
	margin-top:40px;
	font-size:14px;
	vertical-align:middle
}
.friends_pic{
	margin-right:10px;
}
.fb_edit_box{
	width:134px;
	height:134px;
	float:left;
	padding:10px;
	border:1px solid #C1D2D3;
	margin-bottom:20px;	
	margin-right:38px;
}
input.fb_contact{
	width:130px;
	border:1px solid #C1D2D3;
	margin-bottom:10px;
	margin-left:2px;
}
div.fb_image_border img{
	position:relative;
	top:-10px;
	border:4px solid #C1D2D3;
	margin-left:23px;
	width:80px;
	height:80px;

}
div#fb_face_tag label{
	clear:both;
	padding-top:0px;
	margin-left:35px;
}
.delete_div{
	height:10px;
}
table#fb_edit_tags_wrappper{
	width:590px;
	margin-left:105px;
}
div#updade_footer{
	border-top:1px solid #C1D2D3;
	padding-top:15px;
	height:250px;
	width:547px;
	text-align:center;
	margin:auto;
	margin-top:20px;
}
div#updade_footer div{
	width:105px;
	margin:auto;	
}
a#fb_add_new_tag{
	display:box;
	cursor:pointer;
	border:1px solid #CCCCCC;
	text-align:center;
	padding:6px 10px 6px 10px;
	background-color:#EDEDED;
	text-decoration:none;
	color:#333;
	margin-left:537px;

}
a#add_new_tag:hover{
	background-color:#ffffff;
}
div#video_taggees{
	margin-bottom:10px;
}

div.fb_avatar_border{
	position:relative;
	position:relative;
	top:-10px;
	border:3px solid #C1D2D3;
	width:80px;
	height:80px;
	margin-top:10px;
	margin-left:23px;
	text-align:center;
	padding-top:5px;
}
.fb_new_tag_label{
	margin-left:25px;
}
div.fb_edit_box:hover{
	cursor:pointer;
	background-color:#f3f0f0;
}
.fb_delete_img{
	border:1px solid #C1D2D3;
	padding:2px;
	margin-left:120px;	
}
h2.fb_edit_tags_title{
	width:547px;
	margin-left:auto;
	margin-right:auto;
	font-size:14px;
	position:relative;
	top:-8px;
}
.fb_heading-list-edit{
	width:547px;
margin-left:auto;
margin-right:auto;
border:1px solid #e4e4e4;
height:27px;
background:url(../images/fb/bg-heading-gr.gif) repeat-x top;
padding-top:6px;
text-align:center;
margin-bottom:10px;
margin-top:10px;
}



/**************************** Delete Box ************************************ */
#confirm_delete_box{
	position:absolute;
	border:4px solid gray;
	width:300px;
	height:140px;
	background-color:#ffffff;
	z-index:1999;	
	display:none;
	
}
div#delete_box_header{
	width:290px;
	height:20px;
	color:#ffffff;
	font-size:12px;
	font-weight:bold;
	background-color:#054B4F;
	padding-top:8px;
	padding-left:10px;
}
div#delete_box_body{
	padding-top:10px;
	padding-left:10px;
	height:60px;
}
div#delete_box_footer{
	padding-top:15px;
	padding-left:10px;
	border-top:1px solid gray;
	background-color:1px #F5F5F5;
}
div#delete_box_footer div{
	float:right;
	margin-right:15px; 
}
div#delete_box_body label{
	margin-left:5px;
}
a#delete_link{
	display:box;
	width:25px;
	height:25px;
	color:#ffffff;
	text-align:center;
	font-size:12px;
	background-color:#054B4F;
	text-decoration:none;
	padding:2px 10px 2px 10px;
	margin-right:15px;
}
a#delete_link:hover{
	background-color:#a4c4c6;
	color:#000000;
}
a.delete_link,a#delete_cancel{
	cursor:pointer;
}
#delete_overlay{
    position:absolute;
    z-index:1900;
    top:0px;
    height:0px;
    background-color:#000000;
    width:100%;
    height:100%;

}
