*{padding:0;margin:0;}
	body{
	background-image:url(/images/bacbody.jpg);background-position:to;background-repeat:repeat;background-color:#e1ded7;}
	*{font-family:Ariel}
	.fll{float:left}
	.flr{float:right}
	.ml8{margin-left:8px;}
	.mt9{margin-top:9px;}
	.mt7{margin-top:7px;}
	.mt10{margin-top:10px;}
	.mt20{margin-top:20px;}
	.mt8{margin-top:8px;}
	.mt15{margin-top:15px;}
	.mr26{margin-right:26px}
	.mb38{margin-bottom:38px;}
	.space45{float:right;width:100%;height:45px;}
	.space9{float:right;width:100%;height:9px;}
	.space17{float:right;width:100%;height:17px;}
	.space73{float:right;width:100%;height:73px;}
	.space60{float:right;width:100%;height:60px;}
.div_adi_perezM{
width:568px;
margin-bottom:5px;
float:left;
}
	#Div1{margin-left:auto;margin-right:auto;width:967px;}
	#Div2{float:right;width:967px;}
	#Divtop{float:left;width:967px;height:26px;background-image:url(/images/backpasstop.jpg);background-position:bottom;background-repeat:repeat-x;margin-bottom:30px;}
	#imghederEdit{float:left;}
	#borderRight{float:right;}
	#DivCenter{float:right;width:942px;height:405px;background-image:url(/images/borderimgbottom.png);background-position:bottom;background-repeat:repeat-x;background-color:white;}
	#bordertop{float:right;width:942px;height:4px;background-image:url(/images/borderimgtop.png);background-position:bottom;background-repeat:repeat-x;}
	.DivTextCenter{float:right;width:228px;height:395px;background-image:url(/images/backTextRight.jpg);background-repeat:no-repeat}
	.imgEdith2{float:left;margin-left:12px;margin-top:14px;margin-bottom:37px}
	.hedearforimg{float:left;margin-left:12px;color:#534741;font-size:20px;font-weight:bold;margin-bottom:10px;min-width:135px;text-align:left}
	.AboutimgText{float:left;margin-left:12px;width:200px;color:#666666;font-size:12px;min-height:192px;}
	.AddCategoryimg{float:left;margin-left:12px;margin-top:38px;margin-bottom:9px;margin-right:60px;}
	.select{float:left;margin-left:12px;color:#a08979;font-size:14px;}
	.select option {color:#a08979;font-size:14px;}
	#borderbottompass{float:right;width:967px;height:15px;background-image:url(/images/backpasstop.jpg);background-position:bottom;background-repeat:repeat-x;}
	.Divimgcenter{width:714px;height:379px;background-image:url(/images/imgcenter.jpg);background-repeat:no-repeat}
	.backgC{float:right;margin-top:351px;width:60px;height:28px;background-image:url(/images/backC.jpg);background-repeat:no-repeat}
	.textC{float:right;min-width:29px;margin-top:9px;margin-right:15px;color:#ffffff;font-size:12px;}
	.DivCenter2{float:right;width:967px;height:215px;}
	.hedearName{float:left;margin-left:134px;min-width:163px;color:#333333;font-size:13px;font-weight:bold}
	.x{    
	left: -10px;
		position: relative;
		top: -158px;
		z-index: 1000;
		}
	.btnclear{float:left;margin-top:16px;margin-right:29px;}
	.btnSave{float:left;margin-left:262px;margin-top:26px;}
	.btnCancle{float:left;margin-left:27px;margin-top:26px;}
	#DivFriends{float:right;width:967px;}
	.DivFriend1{float:left;width:156px;height:235px;margin-left:40px;margin-top:25px;}
	.backFriend1{float:left;width:150px;height:150px;background-image:url(/images/Backfriend.png);background-repeat:no-repeat}
	.frind1img{float:left;margin-LEFT:6px;margin-top:6px;}
	.underFriend1{float:left;width:150px;height:60px;background-image:url(/images/Backyesno.png);background-repeat:no-repeat; margin-top: 13px;}
	.DivTextIs{float:left;width:115px; font-style: italic;color:#666666;font-size:14px;margin-left:23px;margin-top:8px;margin-bottom:4px}
	.yes{float:left;margin-left:15px}

	.DivFriend2{float:left;width:156px;height:235px;margin-left:30px;margin-top:25px;}
	.backFriend2{float:left;width:150px;height:150px;background-image:url(/images/backfriendO.jpg);background-repeat:no-repeat}
	.frind1img{float:left;margin-LEFT:6px;margin-top:6px;}
	.underFriend2{float:left;width:150px;height:60px;background-image:url(/images/backunderfried2.png);background-repeat:no-repeat; margin-top: 13px;}
	.DivTextOver{float:left;width:115px;color:#666666;font-size:14px;margin-left:9px;margin-top:8px; font-style: italic;}
	.DivTextOverT{float:left;min-width:26px;margin-top:10px;margin-left:26px;color:#666666;font-size:14px;}
	.Donetext{float:right;margin-right:20px;width:33px;margin-top:10px;color:#a58c6a;font-size:14px;}
	.backFriendName{float:left;width:150px;height:150px;background-image:url(/images/backAdd.png);background-repeat:no-repeat}
	.underFriendname{float:left;width:150px;height:60px;background-image:url(/images/backfrindName.png);background-repeat:no-repeat; margin-top: 13px;	}
	.friendNameText{float:left;margin-left:;color:#afacaa;font-size:18px;font-style:italic;margin-left:9px;margin-top:9px;width:127px;}
	.DivShare{float:left;width:870px;height:38px;background-image:url(/images/Shareimg.png);background-repeat:no-repeat;margin-bottom:30px;margin-left:40px}
	.inputshare{float:right;width:514px;height:19px;margin-top:8px;border:none;margin-right:12px;background-color:#f8f2ee;color:#a08979;font-size:14px;padding-top:2px;}
	.Add{float:right;margin-right:4px;margin-top:3px;}
	.Done{margin-left:376px;float:left}
	.Goshare{float:left;margin-left:417px;;color:#666666;font-size:14px;font-style:italic;  margin-top: 3px;margin-bottom:27px;}

	/* Uppload*/

	#DivA{margin-left:auto;margin-right:auto;width:998px;}
	#DivB{float:right;width:998px;}
	#hederUp{float:left;margin-bottom:12px;}
	.pass{float:left;width:960px;height:1px;background-image:url(/images/backpasstop.jpg);background-repeat:repeat-x;}
	.img1{float:left;margin-top:30px;margin-left:90px;margin-right:13px;margin-bottom:7px}
	.img2{float:left;margin-top:30px;margin-right:13px;margin-bottom:7px}
	#DivCenterup{float:right;width:998px;height:575px;margin-top:14px;}
	.hederUp2{float:left;margin-top:20px;margin-bottom:8px;}

	.solectFile{float:left;margin-top:14px;background-image:url(/images/solectFile.png);background-repeat:no-repeat;width:500px;height:38px;}
	.btnchoosefile{float:right;margin-right:4px;margin-top:4px;}
	.titleinput{float:left;width:500px;height:38px;background-image:url(/images/titleBack.png);background-repeat:no-repeat;margin-top:13px;}
	.inputTitle{float:left;width:480px;height:30px;border:none;color:#564a41;font-size:16px;font-style:italic;margin-top:3px;margin-left:10px;background-color:#f8f3ee}
	.textareaDisDiv{float:left;width:500px;height:242px;background-image:url(/images/DisBack.png);background-repeat:no-repeat;margin-top:8px;}
	.textareaDis{float:left;width:480px;height:217px;border:none;color:#564a41;font-size:16px;font-style:italic;margin-top:21px;margin-left:12px;background-color:#f8f3ee}
	.btnUpload{float:right;margin-top:8px;margin-bottom:25px}
	.Upload1{float:LEFT;margin-left:387px;margin-top:68px;margin-bottom:26px; }
	.fewMinute{float:left;margin-top:34px;margin-left:220px;width:518px;color:#534741;font-size:14px;font-style:italic;text-align:center;margin-bottom:42px;}
	.uploadSuccesful{float:left;margin-left:335px;margin-bottom:26px;margin-top:69px;}
	.Succes{float:right;width:960px;height: 326px;background-color:#fcf9f9;margin-top:135px;margin-bottom:87px;}
	.analizing{float:left;margin-left:368px;}
	.analizDone{float:left;margin-left:362px;}
	.DivComplete{float:left;width:100%;background-color:#fcf9f9;height:140px;margin-top:21px;}
	.Complette{float:left;margin-top:79px;margin-left:275px}
	.underfriendUp{float:left;width:150px;height:30px;background-image:url(/images/backmenTextUp.png);background-repeat:no-repeat;margin-top:13px;}
	.backfirentNameUp{float:left;width:150px;height:30px;background-image:url(/images/backfirentNameUp.png);background-repeat:no-repeat;margin-top:13px;}
	.underfriendUpText{float:left;margin-left:8px;margin-top:6px;color:#666666;font-size:16px;font-style:italic;}
	.backfirentNameUpText{float:left;margin-left:6px;margin-top:5px;color:#afacaa;font-size:16px;font-style:italic;}
	.DoneUp{float:left;margin-left:309px;margin-top:31px;margin-bottom:29px;}
	.skipUp{float:left;margin-left:13px;margin-top:31px;margin-bottom:29px;}
	.processing{float:left;margin-left:16px;margin-top:20px;  margin-bottom: 12px;}
	.analizePro{float:left;margin-left:24px;margin-top:56px;}
	.startbtn{float:left;margin-left:191px;margin-top:46px;}
	.textvi{float:left;margin-left:32px;margin-top:6px; }


	.DivLIking{float:left;width:574px;}
	.heearliking{float:left;margin-bottom:9px;}
	.Divborderlin{float:right;width:4px;background-image:url(/images/borderRightlin.png);background-repeat:repeat-y;}
	.Divlin2{float:left;width:570px;background-image:url(/images/borderlinLeft.png);background-repeat:repeat-y;background-position:left;background-color:white}
	.hedearvideio{position:relative;     top: -300px;z-index:100}
	.inthisv{float:left;width:105px;color:#30b4ab;font-weight:bold;font-size:11px;margin-left:15px;}
	.Divvideo{float:right;margin-right:5px;width:552px;height:299px;}
	.video5{float:right;margin-top:-50px;}
	.passlinking{float:left;margin-left:14px;width:546px;background-image:url(/images/backpasstop.jpg);background-repeat:repeat-x;height:1px;margin-top:}
	.chetzL{float:left;margin-top:8px;margin-left:16px;background-image:url(/images/PlayBack.png);height:46px;width:69px;}
	.pasBack{float:left;margin-top:8px;margin-left:11px;}
	.Divmen{float:left;width:51px;margin-right:3px;margin-top:8px;}
  .playimg{float:left;margin-left:3px;margin-top:3px;}
	.Divmenbac{float:left;width:46px;height:46px;background-image:url(/images/backMenLin.jpg);}
	.DivmenbacRed{float:left;width:46px;height:46px;background-image:url(/images/redBack.png);}
	.Men1{float:left;margin-left:2px;margin-top:2px;}
	.plusRed {float:left;margin-left:4px;margin-top:3px;}
	.red{float:left;}
	.vi2{position:relative;    left: -5px;position: relative;top: -52px;}
	.vi2B{position:relative;    left: -5px;position: relative;top: -50px;}
	.friendNa{float:left;width:38px;color:#666666;font-style:italic;font-size:11px;margin-top:4px;margin-left:5px;}
	.Divmenbac1{float:left;width:46px;height:46px;background-image:url(/images/backorange.png)}

	.DivmenL{float:left;width:35px;margin-top:8px;}
	.DivmenbacL{float:left;width:35px;height:46px;background-image:url(/images/LAstMenBack.jpg);}
	.Men1L{float:left;margin-left:2px;margin-top:2px;}
	.friendNaL{float:left;width:30px;color:#666666;font-style:italic;font-size:11px;margin-top:4px;margin-left:5px;}
	.DivmenL{float:left;width:35px;margin-right:3px;margin-top:8px;}
	.chetz5{float:left;margin-left:14px;margin-top:26px;}
	.DivUpby{float:left;width:526px;margin-top:12px;margin-left:30px;height:83px;margin-bottom:}
	.upheder{float:left;color:#333333;font-size:13px;font-style:italic;margin-top:26px;margin-left:10px;}
	.upText{float:left;width:485px;margin-top:5px;color:#666666;font-size:12px;font-style:italic;margin-bottom:25px;}
	.comment{float:left;margin-left:11px;color:#30b4ab;font-size:11px;font-weight:bold;font-style:italic;margin-bottom:2px;margin-top:14px;}
	.div3A{
	width:504px;

	float:left;
	margin-left:5px;
	}
	.div3F{
	width:490px;
  margin-bottom:8px;
	float:left;
	font:italic 13px arial;
	color:dimgray;
	margin-top:3px;

	}
	.txt1a{
	width:500px;
	height:31px;
	float:left;

	background-image:url('/images/backinput.jpg');
	background-repeat:no-repeat;
	margin-left:6px;
	margin-top:8px;
	}
	.inputText
	{
		color: dimgray;
		float: left;
		font: italic 14px arial;
		height: 20px;
		margin-left: 9px;
		margin-top: 6px;
		width: 463px;
		border:none;
		background-color:transparent;
	}
	.borderlikingbott{float:right;z-index:-1;}
	.DivBAck{
	float:right;
	width:568px;background-image:url(/images/backDiv.jpg);background-position:bottom;background-repeat:no-repeat;
	}
		

	.Div10{float:right;width:265px;height:591px;}

.div_adi_perezM{
width:568px;
margin-bottom:5px;
float:left;
}
.text9M{
width:23px;
height:12px;
float:left;
font:italic 12px arial;
color:#A68D6A;
margin-top:12px;
margin-left:6px;
}
	.peapleYnDiv{float:left;width:544px;height:58px;background-image:url(/images/backfound.png);margin-left:14px;margin-top:8px;}
	.peapleYnDivText{float:left;margin-left:106px;margin-top:5px;width:340px;color:#00a89c;font-size:14px;font-weight:bold;font-style:italic;margin-bottom:4px;}
	.yesplea{float:left;margin-left:162px;margin-right:5px;}
	.xF{float:RIGHT;margin-top:3px;margin-right:4px}
	.Divbackpeople{float:left;margin-left:25px;width:544px;height:118px;background-image:url(/images/bacpeople.png)}
	.Divmen3{float:left;width:54px;margin-right:5px;margin-top:2px;}
	.friendNa3{float:left;width:54px;color:#666666;font-style:italic;font-size:11px;margin-top:4px;}
	.BtnstarV{float:right;margin-top:18px;margin-right:5px;}


	#DivRashi{margin-left:auto;margin-right:auto;width:978px;}
	#DivRashi1{float:right;width:978px;margin-top:25px;/*176px;*/}
	.passV7{float:left;margin-top:27px;}
	.DivVid{width:330px;float:left;margin-left:14px;}
	.DIvimgMen{float:left;width:555px;}

	.title5M{
	width:143px;
	height:16px;
	float:left;
	margin-top:24px;

	}
	.border3m{
	width:319px;
	height:2px;
	float:left;
	font-size:2px;
	margin-top:10px;

	border-bottom:1px dashed gray;
	}
	.div_imagesm {
		float: left;
		height: 46px;

		width: 318px;
	}

	.under2m {
		float: left;
		height: 0px;
		width: 330px;
	}

	.div7m {
		float: left;
		height: 45px;
		width: 320px;
		background-image:url(/images/backfrienfL.png);
		background-position:top;
		background-repeat:no-repeat;
	}

	.border3m {
		border-bottom: 1px dashed gray;
		float: left;
		font-size: 2px;
		height: 2px;
	  
		margin-top: 10px;
		width: 319px;
	}

	.image5m {
		float: left;
		
		margin-left: 84px;
		margin-top:8px;
		
	}

	.Divbackpeople2{
		background-image: url("images/bacpeople.png");
		float: left;
		height: 118px;
		margin-left: 8px;
		  margin-top: 8px;
		width: 544px;
	}

	.Divw1{float:right;width:573;  
	background-image:url("images/borderRightlin.png");
		background-repeat: repeat-y;
	   background-position:right;
	   
	   width:574px;
	   }
	   
.background_divM{
    background-image: url("images/background_div2.jpg");
    background-repeat: repeat-y;
    float: left;
    min-height: 10px;
   
    width: 500px;
margin-left:-1px;
	}
	.background_div3
	{
	float:left;
	margin-left:1px;
	}
	.DivComm{
	float:left;
	margin-left:10px;
	width:470px;
	
	
	}
	.VideoMin1 {
    background-image: url("images/background1.png");
    float: left;
    height: 128px;

    width: 338px;
}
.div8_1M {
    background-image: url("images/background4.jpg");
    float: left;
    height: 90px;
    margin-left: 17px;
    margin-top: 19px;
    width: 160px;

}

.div8_2M {
    float: left;
    height: 109px;
    margin-top: 10px;
    width: 151px;
}   
	   .sharebtn{float:right;margin-top:5px;margin-right:5px}
	   .TextUp12{float:left;margin-left:220px;margin-top:21px;margin-bottom:78px;}
	   .DivBott{float:left;width:100%;background-color:#a5968f;height:78px;}
	 .DivBot1{    margin-left: auto;
    margin-right: auto;
    width: 978px;
}
.DivBot2{float:right;width:978px;height:78px}
.DivMEnue{margin-top:32px;width:978px;margin-left:auto;margin-right:auto;}
.AMenue1{float:left;width:85px;text-align:left;color:white;font-size:12px;text-decoration:none;border-right:1px solid white;text-align:left;}
.AMenue2{float:left;width:109px;text-align:left;color:white;font-size:12px;padding-left:7px;text-decoration:none;border-right:1px solid white;text-align:center;}
.AMenue5{float:left;width:95px;text-align:left;color:white;font-size:12px;padding-left:7px;text-decoration:none;border-right:1px solid white;text-align:center;}
.AMenue3{float:left;width:46px;text-align:left;color:white;font-size:12px;padding-left:5px;text-decoration:none;border-right:1px solid white;text-align:center;}
.AMenue4{float:left;width:55px;text-align:left;color:white;font-size:12px;padding-left:6px;text-decoration:none;text-align:center;}
.span{width:1px;float:left;height:100%;color:white;}





/*---------------------------new---------------*/
.mt56{margin-top:56px;}
.mt51{margin-top:51px;}
	.Divborderlin{float:right;width:4px;background-image:url(/images/borderRightlin.png);background-repeat:repeat-y;}
	.Divlin2{float:left;width:570px;background-image:url(/images/borderlinLeft.png);background-repeat:repeat-y;background-position:left;background-color:white}
	.Divw1{float:left;width:573;  
	background-image:url("images/borderRightlin.png");
		background-repeat: repeat-y;
	   background-position:right;
	   
	   width:574px;
	   }
	   	.DivBAck{
	float:right;
	width:568px;background-image:url(/images/backDiv.jpg);background-position:bottom;background-repeat:no-repeat;
	}
		.borderlikingbott{float:left;z-index:-1;}
		
.div_txtM {
    float: left;
    height: 20px;
    width: 560px;
	margin-left:8px;
	margin-bottom:5px;
}

.text6M{
    color: #a68d6a;
    float: left;
    font: italic 13px arial;
    height: 12px;
    margin-left: 8px;
    margin-top: 5px;
    width: 22px;
}
.text7M {
    color: #a68d6a;
    float: left;
    font: italic 13px arial;
    height: 12px;
    margin-left: 8px;
    margin-top: 5px;
    width: 48px;
}

.text11M {
   color: black;

   font: italic 12px arial;

   margin-left: 10px;
   margin-top: 9px;
 
}


/*---------------------------------------------------------------ayala------------------------------------*/

body{
background-image:url('/images/bacbody.jpg');
background-repeat:repeat;
}

/*-----------------------page1-------------------*/
.div_page1{
width:960px;
height:160px;
float:left;
background-image:url('/images/page1/page1.jpg');
}

.top_page1{
width:960px;
height:90px;
float:left;
}

.logo_page1{
width:188px;
height:78px;
float:left;
}

.image1_page1{
width:86px;
height:90px;
float:left;
margin-left:500px;
}

.image2_page1{
width:184px;
height:90px;
float:left;
}

.bottom_page1{
width:960px;
height:70px;
float:left;
}

.image3_page1{
width:188px;
height:69px;
float:left;
}

.image4_page1{
width:180px;
height:69px;
float:left;
}

.image5_page1{
width:272px;
height:69px;
float:left;
}

.image6_page1{
width:320px;
height:69px;
float:left;
}

.div2_page1{
width:960px;
height:160px;
float:left;
background-image:url('/images/page1/page1.jpg');
margin-top:40px;
}

.image1orange{
width:86px;
height:90px;
float:left;
margin-left:688px;
}

.div3_page1{
width:480px;
height:160px;
float:left;
background-image:url('/images/page1/page1.jpg');
margin-top:40px;
}

.image7_page1{
width:193px;
height:90px;
float:left;
margin-left:168px;
}

.image8_page1{
width:193px;
height:63px;
float:left;
margin-left:168px;
margin-top:7px;
}

.div4_page1{
width:480px;
height:160px;
float:left;
background-image:url('/images/page1/page1.jpg');
margin-top:40px;
margin-left:40px;
}

.image9_page1{
width:330px;
height:378px;
float:left;
margin-left:31px;
margin-top:7px;
}

/*-----------------------page2-------------------*/

/*-----------*/
.logo{
width:960px;
height:176px;
float:left;
margin-top:46px;
}

.images_page2{
width:971px;
height:200px;
float:left;
margin-top:57px;
}

.image_page2{
width:295px;
height:198px;
float:left;
}

.marginleft_image{
margin-left:43px;
}

.borders{
width:971px;
height:2px;
float:left;
margin-top:10px;
}

.border_page2{
width:291px;
height:2px;
float:left;
font-size:2px;
border-bottom:1px dashed gray;
}

.border2_page2{
width:291px;
height:2px;
float:left;
font-size:2px;
border-bottom:1px dashed gray;
margin-left:47px;
}

.texts_page2{
width:971px;
height:43px;
float:left;
margin-top:12px;
}

.text_page2{
width:291px;
height:43px;
float:left;
text-align:center;
color:gray;
font:italic 15px arial;
}

.text2_page2{
width:291px;
height:43px;
float:left;
margin-left:43px;
text-align:center;
color:gray;
font:italic 15px arial;
}

.div1_page2{
width:291px;
height:80px;
float:left;
margin-left:238px;
margin-top:40px;
}

.border3_page2{
width:964px;
height:2px;
float:left;
font-size:2px;
border-bottom:1px dashed gray;
margin-top:80px;
}

.login_with_facebook{
width:368px;
height:80px;
float:left;
margin-top:-36px;
margin-left:296px;
}

.big_image_video{
width:960px;
height:505px;
float:left;
margin-top:80px;
}


/*-----------------------page3-------------------*/
.div{
width:568px;
height:2600px;
float:left;
}

.on{
width:568px;
height:53px;
float:left;
}

.title1{
width:236px;
height:18px;
float:left;
}

.under{
width:568px;
height:26px;
float:left;
}

.border{
width:568px;
height:2px;
float:left;
font-size:2px;
margin-top:10px;
border-bottom:1px dashed gray;
}

.div1{
width:568px;
height:244px;
float:left;
}

.win{
width:400px;
height:230px;
float:left;
background-image:url('/images/background1.jpg');
background-repeat:repeat-x;
margin-left:7px;
margin-top:7px;
}

.div_text1{
width:400px;
height:62px;
float:left;
}

.text1{
width:100px;
height:19px;
float:left;
font-family:arial;
font-size:16px;
color:white;
margin-left:16px;
margin-top:18px;
font-style:italic;
font-style:blique;

}

.text2{
width:64px;
height:15px;
float:left;
font-family:arial;
font-size:10px;
color:white;
margin-left:204px;
margin-top:23px;
}

.video{
width:60px;
height:60px;
float:left;
margin-left:340px;
margin-top:75px;
}

.clock{
width:60px;
height:27px;
float:left;
margin-left:340px;
margin-top:4px;
}

.small_div{
width:140px;
height:140px;
float:left;
margin-left:11px;
margin-top:7px;
}

.background_squares{
width:140px;
height:9px;
float:left;
}

.div_squares{
width:140px;
height:46px;
float:left;
background-image:url('/images/background2_squares.jpg');
background-repeat:repeat-y;
}

.div_square{
width:68px;
height:45px;
float:left;
}

.text3{
width:46px;
height:20px;
float:left;
font-family:arial;
color:white;
text-align:center;
font:italic bold 18px/20px arial;
margin-left:11px;
margin-top:4px;
}

.text3a{
width:46px;
height:20px;
float:left;
font-family:arial;
font-size:15px;
color:white;
text-align:center;
font-style:italic;
margin-left:8px;
}

.div1_5{
width:140px;
height:35px;
float:left;
margin-top:3px;
background-image:url('/images/Rectangle1.jpg');
}

.num{
width:24px;
height:18px;
float:left;
margin-top:8px;
margin-left:15px;
font:italic bold 18px/20px arial;
color:white;

}

.Rectangle{
width:140px;
height:35px;
float:left;
margin-top:2px;
}

.div1_5b{
width:140px;
height:35px;
float:left;
background-image:url('/images/Rectangle2.jpg');
}

.div1_6{
width:138px;
height:38px;
float:left;
margin-top:51px;
background-image:url('/images/btn_share.jpg');
}

.div2{
width:570px;
height:63px;
float:left;
background-image:url('/images/show_me_more.jpg');
margin-top:27px;
}

.div2b{
margin-top:5px;
}

.div2_1{
width:160px;
height:21px;
float:left;
color:#20B2AA;
font:italic bold 21px/20px arial;
margin-top:18px;
margin-left:193px;
}

.image8{
width:19px;
height:14px;
float:left;
margin-top:23px;
margin-left:11px;
}

.on2{
width:568px;
height:38px;
float:left;
}

.title2{
width:78px;
height:18px;
float:left;
}

.title2b{
margin-top:30px;
}

.div_daniel{
width:568px;
height:447px;
float:left;
}

.background{
background-image:url('/images/big_div.jpg');
}

.small_div2{
width:160px;
height:244px;
float:left;
}

.someone{
width:46px;
height:46px;
float:left;
margin-left:10px;
margin-top:7px;
}

.name_daniel{
width:110px;
height:15px;
float:left;
font:italic bold 14px/20px arial;
color:black;
margin-left:10px;
margin-top:8px;
}

.text5{
width:110px;
height:71px;
float:left;
margin-top:9px;
font:italic 12px arial;
color:black;
margin-left:10px;
margin-top:8px;
}

.div3_1{
width:568px;
height:28px;
float:left;
}

.text6{
width:22px;
height:12px;
float:left;
font:italic 13px arial;
color:gray;
margin-left:8px;
margin-top:5px;
}

.num5{
width:15px;
height:15px;
float:left;
margin-left:8px;
margin-top:5px;
}

.text7{
width:48px;
height:12px;
float:left;
font:italic 13px arial;
font-size:13px;
color:gray;
margin-left:8px;
margin-top:5px;
}

.num1{
width:15px;
height:15px;
float:left;
margin-left:16px;
margin-top:5px;
}

.border2{
width:555px;
height:2px;
float:left;
font-size:2px;
margin-left:5px;
border-bottom:1px dashed gray;
}

.div_adi_perez{
width:568px;
height:113px;
float:left;
}

.div3_3{
width:504px;
height:28px;
float:left;
margin-left:8px;
}

.name_adi{
width:73px;
height:18px;
float:left;
font:italic bold 14px/20px arial;
color:black;
margin-top:8px;
}

.text9{
width:23px;
height:12px;
float:left;
font:italic 12px arial;
color:darkgray;
margin-top:12px;
margin-left:6px;
}

.text10{
width:122px;
height:12px;
float:left;
font:italic 12px arial;
color:dimgray;
margin-top:12px;
margin-left:6px;
}

.div3_4{
width:488px;
height:80px;
float:left;
font:italic 13px arial;
color:dimgray;
margin-top:3px;
margin-left:3px;
}

.background_div{
width:488px;
height:67px;
float:left;
background-image:url('/images/background_div2.jpg');
background-repeat:repeat-y;
padding-left:10px;
}

.border4{
width:555px;
height:2px;
float:left;
font-size:2px;
margin-left:5px;
border-bottom:1px dashed gray;
margin-top:5px;
}

.div_input{
width:568px;
height:57px;
float:left;
}

.txt{
width:500px;
height:31px;
float:left;
background-image:url('/images/textbox.jpg');
margin-left:6px;
margin-top:8px;
}

.txt1{
width:120px;
height:15px;
float:left;
margin-left:9px;
margin-top:-27px;
font:italic 14px arial;
color:dimgray;
}

.div_shila1{
width:568px;
height:665px;
float:left;
background-image:url('/images/background.jpg');
background-repeat:repeat-x;
border-style:solid; 
border-width:1px;
border-color:#EEEEEE;
}

.div_shila2{
width:568px;
height:659px;
float:left;
}

.big_div3{
width:568px;
height:650px;
float:left;
background-image:url('/images/big_div3.jpg');
}

.text11{
width:131px;
height:134px;
float:left;
font:italic 12px arial;
color:black;
margin-top:9px;
margin-left:10px;

}

.div4_1{
width:568px;
height:87px;
float:left;
font:italic 12px arial;
color:dimgray;
}

.image9{
width:82px;
height:23px;
float:left;
margin-left:300px;
}

.div_shila3{
width:568px;
height:301px;
float:left;
}

.text12{
width:277px;
height:52px;
float:left;
}

.text8{
width:261px;
height:28px;
float:left;
font:italic 12px arial;
color:black;
margin-left:10px;
margin-top:3px;
}

.div6{
width:568px;
height:244px;
float:left;
}

.div_between{
width:83px;
height:2600px;
float:left;
}

.title3{
width:148px;
height:18px;
float:left;
margin-left:97px;
}

.border3{
width:319px;
height:2px;
float:left;
font-size:2px;
margin-top:10px;
margin-left:97px;
border-bottom:1px dashed gray;
}

.big_image{
width:413px;
height:252px;
float:left;
}

.div7{
width:477px;
height:32px;
float:left;
}

.image5{
width:154px;
height:40px;
float:left;
margin-left:84px;
margin-top:-16px;
}

.on4{
width:568px;
height:115px;
float:left;
}

.title4{
width:156px;
height:18px;
float:left;
margin-left:97px;
}

.div8{
width:321px;
height:114px;
float:left;
background-image:url('/images/background.jpg');
margin-left:95px;
}

.div8_1{
width:160px;
height:90px;
float:left;
background-image:url('/images/background4.jpg');
background-repeat:repeat_x;
margin-top:10px;
margin-left:10px;
}

.video2{
width:60px;
height:60px;
float:left;
margin-left:99px;
}

.clock2{
width:60px;
height:27px;
float:left;
margin-left:99px;
margin-top:2px;
}

.div8_2{
width:151px;
height:109px;
float:left;
}

.text15{
width:116px;
height:15px;
float:left;
font:italic bold 14px/20px arial;
color:black;
margin-left:10px;
margin-top:10px;
}

.text16{
width:56px;
height:12px;
float:left;
margin-top:9px;
font:italic 12px arial;
color:black;
margin-left:10px;
margin-top:8px;
}

.square2{
width:81px;
height:44px;
float:left;
margin-left:10px;
margin-top:10px;
background-image:url('/images/background_square.jpg');
background-repeat:repeat_x;
}

.text20{
width:46px;
height:20px;
float:left;
font-family:arial;
color:white;
text-align:center;
font:italic bold 15px/20px arial;
margin-left:14px;
margin-top:5px;
}

.text21{
width:46px;
height:20px;
float:left;
font-family:arial;
font-size:12px;
color:white;
text-align:center;
font-style:italic;
margin-left:14px;
}

.on3{
width:568px;
height:59px;
float:left;
}

.title5{
width:143px;
height:16px;
float:left;
margin-left:97px;
}

.div_images{
width:318px;
height:46px;
float:left;
margin-left:97px;
}

.someone1{
width:46px;
height:46px;
float:left;
}

.someone2{
width:46px;
height:46px;
float:left;
margin-left:8px;
}

.under2{
width:568px;
height:19px;
float:left;
}

/*-----------------------page4-------------------*/
.page4_left{
width:297px;
height:349px;
float:left;
}

.div100{
width:295px;
height:161px;
float:left;
}

.background2_page4{
width:295px;
height:11px;
float:left;
}

.duriya1{
width:294px;
height:161px;
float:left;
background-image:url('/images/background_player.png');
}

.texts_and_win3{
width:182px;
height:160px;
float:left;
margin-top:13px;
}

.div_texts3{
width:83px;
height:49px;
float:left;
margin-left:14px;
}

.small_div4{
width:110px;
height:158px;
float:left;
margin-top:18px;
}

.background_squares2{
width:100px;
height:6px;
float:left;
}

.small_win4{
width:160px;
height:90px;
float:left;
background-image:url('/images/win.jpg');
background-repeat:repeat_x;
margin-left:14px;
}

.duriya2{
width:295px;
height:160px;
float:left;
background-image:url('/images/page4/background8.jpg');
background-repeat:repeat-y;
}

.texts_and_win4{
width:171px;
height:160px;
float:left;
}

.small_win5{
width:160px;
height:90px;
float:left;
background-image:url('/images/background4.jpg');
background-repeat:repeat_x;
margin-top:2px;
margin-left:10px;
}

.small_div5{
width:122px;
height:160px;
float:left;
}

.page4_image{
width:45px;
height:45px;
float:left;
margin-top:47px;
margin-left:39px;
}

.txt8{
width:64px;
height:12px;
float:left;
margin-top:2px;
margin-left:30px;
font:italic 10px arial;
color:dimgray;
}

.background3_page4{
width:294px;
height:11px;
float:left;
}

.between_page4{
width:61px;
height:593px;
float:left;
}

.page4_right{
width:312px;
height:593px;
float:left;
}

.div101{
width:310px;
height:287px;
float:left;
background-image:url('/images/background_friends.png');
}

.background_div_one{
width:310px;
height:247px;
float:left;
background-image:url('/images/page4/background2.jpg');
background-repeat:repeat-y;
}

.background_page4{
width:312px;
height:20px;
float:left;
}

.div_one{
width:312px;
height:247px;
float:left;
}

.div_top{
width:310px;
height:158px;
float:left;
}

.texts_and_win{
width:190px;
height:178px;
float:left;
margin-top:22px;
}

.div_texts{
width:66px;
height:31px;
float:left;
margin-left:22px;
}

.txt2{
width:56px;
height:16px;
float:left;
font:italic bold 16px/20px arial;
color:black;
margin-top:2px;
}

.txt3{
width:65px;
height:16px;
float:left;
font:italic 10px arial;
color:black;
margin-top:4px;
}

.texts_and_win2{
width:190px;
height:160px;
float:left;
}

.small_win2{
width:160px;
height:90px;
float:left;
background-image:url('/images/win.jpg');
background-repeat:repeat_x;
margin-top:15px;
margin-left:22px;
}

.txt4{
width:108px;
height:14px;
float:left;
font:italic bold 13px/20px arial;
color:#20B2AA;
margin-top:5px;
margin-left:20px;
}

.small_div3{
width:120px;
height:150px;
float:left;
margin-top:20px;
}

.div_squares2{
width:100px;
height:33px;
float:left;
background-image:url('/images/page4/background2_squares2.jpg');
background-repeat:repeat-y;
}

.square3{
width:49px;
height:46px;
float:left;
}

.text_square1{
width:36px;
height:15px;
float:left;
color:white;
font:italic bold 14px/20px arial;
margin-left:3px;
text-align:center;
}

.text_square2{
width:40px;
height:13px;
float:left;
text-align:center;
color:white;
font:italic 11px arial;
margin-left:3px;
}

.square4{
width:49px;
height:46px;
float:left;
}

.rectangle2{
width:100px;
height:20px;
float:left;
margin-top:2px;
background-image:url('/images/Rectangle5.jpg');
}

.num_rectangle{
width:20px;
height:11px;
float:left;
margin-left:5px;
font:italic bold 11px/20px arial;
color:white;
}

.rectangle4{
width:100px;
height:20px;
float:left;
margin-top:1px;
}

.share{
width:102px;
height:21px;
float:left;
margin-top:25px;
background-image:url('/images/small_share.jpg');
}

.div9{
width:310px;
height:108px;
float:left;
}

.border5{
width:267px;
height:2px;
float:left;
font-size:2px;
border-bottom:1px dashed gray;
margin-left:20px;
margin-top:25px;
}

.div_images2{
width:264px;
height:46px;
float:left;
margin-left:21px;
margin-top:5px;
}

.to_video{
width:82px;
height:24px;
float:left;
margin-left:209px;
margin-top:7px;
}

.between4_right{
width:312px;
height:22px;
float:left;
}

.someone3{
width:46px;
height:46px;
float:left;
margin-left:22px;
}

.txt5{
width:56px;
height:16px;
float:left;
font:italic bold 16px/20px arial;
color:black;
margin-top:2px;
}

.div_texts2{
width:83px;
height:44px;
float:left;
margin-left:6px;
}

.txt6{
width:100px;
height:12px;
float:left;
font:italic 10px arial;
color:black;
margin-top:3px;
}

.txt7{
width:65px;
height:12px;
float:left;
font:italic 10px arial;
color:black;
}

.small_win3{
width:160px;
height:90px;
float:left;
background-image:url('/images/background4.jpg');
background-repeat:repeat_x;
margin-top:2px;
margin-left:22px;
}

.div5{
width:310px;
height:108px;
float:left;
margin-top:6px;
}

/*-----------------------page8-------------------*/
.div1_page8{
width:964px;
height:148px;
float:left;
}

.border6{
width:964px;
height:2px;
float:left;
font-size:2px;
border-bottom:1px dashed gray;
}

.image_page8{
width:88px;
height:79px;
float:left;
margin-top:20px;
margin-left:2px;
}

.txt9{
width:449px;
height:29px;
float:left;
font:italic bold 20px/8px arial;
color:black;
margin-top:33px;
margin-left:30px;
}

.txt10{
width:830px;
height:21px;
float:left;
font:italic 15px arial;
color:black;
margin-left:30px;
}

.border6b{
width:964px;
height:2px;
float:left;
font-size:2px;
border-bottom:1px dashed gray;
margin-top:20px;
}

.div2_page8{
width:964px;
height:148px;
float:left;
margin-top:141px;
}

.txt11{
width:301px;
height:29px;
float:left;
font:italic bold 20px/8px arial;
color:black;
margin-top:52px;
margin-left:30px;
}

.image2_page8{
width:328px;
height:44px;
float:left;
margin-top:52px;
margin-left:209px;
}

/*---------------------------------------------videos------------------------------------------------------*/

/*-----------------------------------page5---------------------------*/
.Div{
width:960px;
margin-left:auto;
margin-right:auto;
}

.image7_videos{
width:193px;
height:90px;
float:left;
margin-left:767px;
margin-top:-90px;
}

.title_videos5{
width:960px;
height:59px;
float:left;
}

.title_myvideos{
width:78px;
height:20px;
float:left;
margin-top:25px;
}

.image1_videos5{
width:30px;
height:20px;
float:left;
margin-top:18px;
margin-left:624px;
}

.image2_videos5{
width:30px;
height:20px;
float:left;
margin-top:18px;
margin-left:4px;
}

.image3_videos5{
width:179px;
height:23px;
float:left;
margin-top:17px;
margin-left:15px;
}

.videos5{
width:960px;
height:990px;
float:left;
}

.div_videos5{
width:291px;
height:179px;
float:left;
margin-top:11px;
}

.div_videos5b{
width:291px;
height:179px;
float:left;
margin-left:42px;
margin-top:11px;
}

.border10{
width:960px;
height:2px;
float:left;
font-size:2px;
border-bottom:1px dashed gray;
margin-top:11px;
}

/*-----------------------------------page6---------------------------*/
.videos6{
width:964px;
height:850px;
float:left;
}

.marginleft{
margin-left:30px;
}

.div_and_border{
width:326px;
height:371px;
float:left;
}

.border_whidth{
width:325px;
}

.line{
width:964px;
height:182px;
float:left;
}

.marginleft2{
margin-left:37px;
}

.location{
position:absolute;
margin-left:323px;
}
/*---------------------------------------------dashboard------------------------------------------------------*/

/*-----------------------------------pageA2---------------------------*/
.big_div{
width:568px;
height:244px;
float:left;
background-image:url('/images/big_div.jpg');
}

.left_dashboardA2{
width:568px;
height:3722px;
float:left;
}

.title_dashboardA2{
width:568px;
height:70px;
float:left;
}

.title1_dashboardA2{
width:236px;
height:18px;
float:left;
margin-top:25px;
}

.div2_dashboardA2{
width:570px;
height:63px;
float:left;
border-style:solid; 
border-width:1 px;
border-color:#EEEEEE;
}

.image_show{
width:570px;
height:58px;
float:left;
}

.daniel_dashboardA2{
width:568px;
height:322px;
float:left;
}

.big_div2{
background-image:url('/images/big_div2.jpg');
}

.div_txts{
width:568px;
height:20px;
float:left;
}

.between_dashboard{
width:71px;
height:3722px;
float:left;
}

.right_dashboardA2{
width:319px;
height:3722px;
float:left;
}

.div8a{
width:321px;
height:114px;
float:left;
background-image:url('/images/background.jpg');
margin-top:15px;
}

.div10{
width:320px;
height:50px;
float:left;
margin-left:97px;
}

.title4a{
width:156px;
height:18px;
float:left;
margin-top:30px;
}

.title3a{
width:110px;
height:18px;
float:left;
margin-left:97px;
margin-top:22px;
}

.btn1{
width:324px;
height:39px;
float:left;
margin-top:12px;
}

.div_b{
margin-left:0px;
}

.border_b{
width:319px;
margin-left:0px;
}

.top{
margin-top:12px;
}

.background_b{
height:20px;
font:italic 13px arial;
}

.adi_b{
height:60px;
}

.big_imageb{
width:318px;
height:252px;
float:left;
}


/*-----------------------------------malki_volf------------------------------------*/

#bodyUp{float:left;width:100%;background:url('/images/bgBodyUp2.jpg') repeat-x;}
#wrpUp{ margin-left: auto; margin-right: auto; width: 978px;}
.image7_page1_2{float: left;height: 90px;margin-left: -5px;width: 190px;background:url('/images/page1/image7.png') no-repeat;position:relative;}
#img12{position:absolute;top:14px;left:8px;}
#imgLogin{float:left; margin: 27px 0 0 26px;}
#nameLogin{color: #e6e6e6;float: left;font-size: 13px; margin: 27px 0 0 12px;font-weight:bold;}
#btnLogO{float:left;color:#c7ab7f;text-decoration:none;font-size:12px;margin: 5px 0 0 12px;}
#searchDiv{float:left;height:69px;width: 272px;background:url('/images/bgSearch.jpg') no-repeat;}
#txtSearch{float:left;height:40px;width: 163px;background:url('/images/bgTxtSearch.png') no-repeat;border:0;
margin:14px 0 0 22px;font-size:14px;font-weight:Italic;color:#564a41;padding:0 5px 0 17px;}
#btnSearch{float:left;margin-top:14px;}
a img{border:0;}
.leftPage{float:left;width:580px;}
.div1wrp{
width:565px;
height:242px;
float:left;
background:url('/images/background.png') no-repeat;
padding:8px 6px;
}
.btnShare{float:right;margin-top:51px;}
.rightPage{float:right;width:340px;}
.btnVideo{float:left;margin-top:12px;}
.divFace{float:left;width:321px;height:109px;background:url('/images/bgFace.png') no-repeat;padding:6px 5px}
.mt5{margin-top:5px;}
.show{width:324px;height:40px;float:left;}
.showdiv{width:324px;height:40px;margin-top:12px;margin-bottom:29px;float:left;margin-left:3px;}
.vi_text{float:left;width:839px;height:76px;margin-top:20px;}
.pros{width:107px;height:82px;margin-left:0px;}
.mtop10{margin-top:10px;}
#txtFImg{position:absolute;top:96px;right:-5px;}
#wrpPopUimg{position:absolute;top:96px;right:-7px;width:342px;height:386px;background:url('/images/bgPUimg.png') no-repeat;}
#wrpImgTxt{float:left;width:308px;height:328px;margin:19px 0 0 16px;overflow:hidden;}
.imgAtxt{float:left;width:308px;height:71px;border-top:1px dashed #ae8a65}
.brderImg{float:left;width:48px;height:48px;background:url('/images/borderImg.png') no-repeat;margin:11px 0 0 2px;}
.imgtoBorder{float:left;margin:2px;}
.textPU{float:left;width:248px;height:44px;margin:12px 0 0 8px;color:#f0f0f0;font-size:11px;font-weight:Italic;line-height:15px;}
.colorOver{color:#d87f27}
.brderImgOver{background:url('/images/borderImgOver.png') no-repeat;}
#readM{float:left;margin:11px 0 0 135px;}
.space50{float:left;width:100%;height:50px;}
.space30{float:left;width:100%;height:30px;}


