<ul>
  <% @notifications.each do |n| %>
    <a href='<%= "#{edit_video_tags_path(n.video.id)}?notif=#{n.id}"%>'>
      <li class='<%= n.viewed ? 'viewed' : 'unviewed' %>'>
        <%= n.message %>
      </li>
    </a>
  <% end %>
</ul>
