<title>VtagO - Edit user</title>

<div id="signin_content_wrapper">
	<div id="signin_content">
		<div id="left_col">
			<div class="bg-shadow">&nbsp;<!--this is for side shadow --></div>
			<div>
				<h1>Edit account</h1>
				<p>Here you can edit your account details.</p>
			</div>
			<%= render 'form' %>
		</div>
		<div id="right_col">
			<a href="#">
				<img src="/images/banner-signin.jpg" alt="" />
			</a>
		</div>
		<br class="clear" />
	</div>
</div>
