<!-- ============= delete confirm alert box==================== -->
<div id="confirm_delete_box">
	<div id="delete_box_header">Delete Video</div>
	<div id="delete_box_body">
		<div>Are you sure you want to delete this?</div>
		<!--input id="facebook_delete" type="checkbox"  class="checkbox_delete" name="" value="">&nbsp;&nbsp;<label class="checkbox_delete" for="facebook_delete">also delete from Facebook</label-->
	</div>						
	<div id="delete_box_footer">
		<div>
			<a class="radious_6" id="delete_link" href="/video/<%= @video.id %>/delete">Delete</a>
			<a id="delete_cancel">Cancel</a>
		</div>
	</div>
</div>