<div class="video-slider">
	<div class="video-wrap">
		<video width="629" height="353" src="<%= @video.fb_src %>" type="video/mp4" id="player1" controls="controls" preload="metadata" data-cuts="<%="#{@video.player_file_path}"%>" >
		</video>
	</div>
</div>