	<div class="video-slider">
		<object type="application/x-shockwave-flash" style="width:629px; height:353px;" 				data="http://www.youtube.com/v/ag8UGlhQJ0o?fs=1&amp;hl=en_US&amp;rel=0">
			<param name="movie" value="http://www.youtube.com/v/ag8UGlhQJ0o?fs=1&amp;hl=en_US&amp;rel=0" />
			<param value="application/x-shockwave-flash" name="type" /> 
			<param value="true" name="allowfullscreen" /> 
			<param value="always" name="allowscriptaccess" /> 
			<param value="opaque" name="wmode" />
		</object>
	</div>