<body>
	<!--Content Section -->

	<div id="content_sec">
		<div id="left_content">
			<% if !@vtagged_page %>
				<%= render :partial => "videos/videos_list" %>
			<% else %>
				<%= render :partial => "videos/vtaggees_list" %>
			<% end %>
			<%= render :partial => "sidebars/list_sidebar" %>
      <br class="clear" />
		</div>
    	<!--Content Section End -->
   </div>
</body>
