<body>
	<!--Content Section -->

	<div id="content_sec">
		<div id="left_content">
			<%= render :partial => "videos/videos_list" %>
			<%= render :partial => "sidebars/list_sidebar" %>

      <br class="clear" />
		</div>
    	<!--Content Section End -->
   </div>
</body>
