<head>
	<title>VtagO - <%= @page_title %> Videos</title>
</head>
<body>
	<!--Content Section -->

	<div id="content_sec">
		<div id="left_content">
			<%= render :partial => "videos/videos_list" %>
			<%= render :partial => "sidebars/single_video_sidebar" %>
	<br class="clear" />
</div>
<!--Content Section End -->

</body>
