<head>
	<title><%= @page_title %></title>
</head>
<body>
	<div id="content_sec_pages">
		<div id="content_sec_pages_wrapper">
			<h1><%= @page_title %></h1>
			<div>
				
	<p>
		1. Your relationship with VtagO
		1.1 Your use of the VtagO website (the "Website") and any VtagO products, channels, software, data feeds and services, including the VtagO embeddable video player (the "VtagO Player") provided to you on or from or through the Website by VtagO (collectively the "Service") is subject to the terms of a legal agreement between you and VtagO. "VtagO" means Dreamline Innovations LTD, whose principal place of business is at 29, Peretz Hayut, Tel aviv, Israel.

		1.2 The Terms form a legally binding agreement between you and VtagO in relation to your use of the Service. It is important that you take the time to read them carefully.
		1.3 The Terms apply to all users of the Service, including users who are also contributors of Content, on the Service. "Content" includes the text, software, scripts, graphics, photos, sounds, music, videos, audiovisual combinations, interactive features and other materials you may view on, access through or contribute to the Service.
		2. Accepting the Terms
		2.1 In order to use the Service, you must firstly agree to the Terms. You may not use the Service if you do not accept the Terms.
		2.2 You can accept the Terms by simply using the Service. You understand and agree that VtagO will treat your use of the Service as acceptance of the Terms from that point onwards.
		2.3 You may not use the Service and may not accept the Terms if (a) you are not of legal age to form a binding contract with VtagO, or (b) you are a person who is either barred or otherwise legally prohibited from receiving or using the Service under the laws of the country in which you are resident or from which you access or use the Service.
		2.4 You should print off or save a local copy of the Terms for your records.
		3. Changes to the Terms
		VtagO reserves the right to make changes the Terms from time to time, for example to address changes to the law or regulatory changes or changes to functionality offered through the Service. Therefore you must look at the Terms regularly to check for such changes. The modified version of the Terms (the "Modified Terms") will be posted at http://VtagO.com/terms or made available within the Service (for any modified additional terms). If you do not agree to the Modified Terms you must stop using the Service. Your continued use of the Service after the date the Modified Terms are posted will constitute your acceptance of the Modified Terms.
		4. VtagO accounts
		4.1 In order to access some features of the Website or other elements of the Service, you will have to create a VtagO account. When creating your account, you must provide accurate and complete information. It is important that you must keep your VtagO account password secure and confidential.
		4.2 You must notify VtagO immediately of any breach of security or unauthorised use of your VtagO account that you become aware of.
		4.3 You agree that you will be solely responsible (to VtagO, and to others) for all activity that occurs under your VtagO account.
		5. General restrictions on use
		5.1 Subject to your compliance with the Terms, VtagO hereby grants you permission to access and use the Service, subject to the following express conditions, and you agree that your failure to adhere to any of these conditions shall constitute a breach of these Terms on your part:
		1. you agree not to distribute any part of or parts of the Website or the Service, including but not limited to any Content, in any medium without VtagO's prior written authorisation, unless VtagO makes available the means for such distribution through functionality offered by the Service (such as the VtagO Player), provided that you ensure such distribution is compliant with the Terms, all applicable laws and the terms governing any websites to which the Content is distributed;
		2. you agree not to alter or modify any part of the Website or any of the Service (including but not limited to the VtagO Player and its related technologies);
		3. you agree not to access Content through any technology or means other than the video playback pages of the Website itself, the VtagO Player, or such other means as VtagO may explicitly designate for this purpose;
		4. you agree not to (or attempt to) circumvent, disable or otherwise interfere with any security related features of the Service or features that (i) prevent or restrict use or copying of Content or (ii) enforce limitations on use of the Service or the content accessible via the Service;
		5. you agree not to use the Service (including the VtagO Player) for any commercial use, including without limitation the following uses, unless you obtain VtagO’s prior written approval:
		1. the sale of access to the Service
		2. the sale of advertising, sponsorships or promotions placed on or within the Service, or Content;
		3. the sale of advertising, sponsorships or promotions on any page of an ad-enabled blog or website containing Content delivered via the Service unless other material not obtained from VtagO appears on the same page and is of sufficient value to be the basis for such sales.
		6. prohibited commercial uses shall not include (i) uploading an original video to VtagO, (ii) maintaining an original channel on the Website in order to promote a business or artistic enterprise, (iii) showing VtagO videos through the VtagO Player or otherwise on an ad-enabled blog or website, subject to those advertising restrictions set out in 5.1(E)(iii) above, all applicable laws and the terms governing such website; and (iv) any use that is expressly authorised by VtagO in writing. For the purpose hereof "original" means Content with respect to which you own all right, title and interest and with respect to which you have the right to grant all the rights and licenses granted by you herein;
		7. if you use the VtagO Player on your website may not modify, build upon or block any portion or functionality of the VtagO Player including but not limited to links back to the Website;
		8. you agree not to use or launch any automated system (including, without limitation, any robot, spider or offline reader) that accesses the Service in a manner that sends more request messages to the VtagO servers in a given period of time than a human can reasonably produce in the same period by using a publicly available, standard (i.e. not modified) web browser;
		9. you agree not to collect or harvest any personal data of any user of the Website or any Service (and agree that this shall be deemed to include VtagO account names);
		10. you agree not to use the Website or the Services (including the comments and email features in the Website) for the solicitation of business in the course of trade or in connection with a commercial enterprise;
		11. you agree not to solicit, for commercial purposes, any users of the Website with respect to their Content; and
		12. you agree not to access Content or any reason other than your personal, non-commercial use solely as intended through and permitted by the normal functionality of the Service, and solely for Streaming. "Streaming" means a contemporaneous digital transmission of the material by VtagO via the Internet to a user operated Internet enabled device in such a manner that the data is intended for real-time viewing and not intended to be downloaded (either permanently or temporarily), copied, stored, or redistributed by the user.
		13. You shall not copy, reproduce, distribute, transmit, broadcast, display, sell, license, or otherwise exploit any Content for any other purposes without the prior written consent of VtagO or the respective licensors of the Content.
		5.2 You agree that you will comply with all of the other provisions of the Terms at all times during your use of the Service.
		5.3 VtagO grants the operators of public search engines permission to use spiders to copy materials from the site for the sole purpose of creating publicly available searchable indices of the materials, but not caches or archives of such materials. VtagO reserves the right to revoke these exceptions either generally or in specific cases.
		5.4 VtagO is constantly innovating in order to provide the best possible experience for its users. You acknowledge and agree that the form and nature of the Service which VtagO provides may change from time to time without prior notice to you.
		5.5 As part of this continuing innovation, you acknowledge and agree that VtagO may stop (permanently or temporarily) providing the Service (or any features within the Service) to you or to users generally at VtagO's sole discretion, without prior notice to you. You may stop using the Service at any time. You do not need to specifically inform VtagO when you stop using the Service.
		5.6 You agree that you are solely responsible for (and that VtagO has no responsibility to you or to any third party for) any breach of your obligations under the Terms and for the consequences (including any loss or damage which VtagO may suffer) of any such breach.
		6. Copyright policy
		6.1 VtagO operates a clear copyright policy in relation to any Content which is alleged to infringe the copyright of a third party. 
		6.2 As part of VtagO's copyright policy, VtagO will terminate user access to the /Service if a user has been determined to be a repeat infringer. A repeat infringer is a user who has been notified of infringing activity more than twice.
		7. Content
		7.1 As a VtagO account holder you may submit Content. You understand that whether or not Content is published, VtagO does not guarantee any confidentiality with respect to Content.
		7.2 You retain all of your ownership rights in your Content, but you are required to grant limited licence rights to VtagO and other users of the Service. These are described in paragraph 8 of these Terms (Rights you licence).
		7.3 You understand and agree that you are solely responsible for your own Content and the consequences of posting or publishing it. VtagO does not endorse any Content or any opinion, recommendation, or advice expressed therein, and VtagO expressly disclaims any and all liability in connection with Content.
		7.4 You represent and warrant that you have (and will continue to have during your use of the Service) all necessary licenses, rights, consents, and permissions which are required to enable VtagO to use your Content for the purposes of the provision of the Service by VtagO, and otherwise to use your Content in the manner contemplated by the Service and these Terms.
		7.5 You agree that your conduct on the site will comply with (and you agree that the content of all of your Content shall comply with) the VtagO Community Guidelines, found at http://VtagO.com/t/community_guidelines, as updated from time to time. You hereby warrant and represent that: (i) you are the sole owner of and/or hold all rights in and to your Content; (ii) there are no restrictions, limitations which prevent or restrict you from granting the licenses herein; and (iii) your Content will not: (a) facilitate or promote illegal activity, or contain content that is illegal; (b) contain content that is defamatory, misleading, fraudulent, obscene, distasteful, racially or ethnically offensive, harassing, or that is discriminatory based upon race, gender, colour, creed, age, sexual orientation, or disability; (c) contain sexually suggestive or explicit content; (d) infringe upon or violate any right of any third party; (e) disparage, defame, or discredit VtagO or any third party; (f) contain any virus, viruses, worms, trojan horses and other disabling or damaging codes; or (g) otherwise contain content that violates any laws, rules, regulations or policies of any competent jurisdiction. You agree to defend, indemnify and hold harmless VtagO and its officers, directors, employees, shareholders, customers, agents, successors and assigns from and against any and all loss, damage, settlement or expense (including reasonable legal expenses) from and against any claim arising from breach of your representations and warranties set forth in these Terms.
		7.6 You agree that you will not post or upload any Content which contains material which it is unlawful for you to possess in the country in which you are resident, or which it would be unlawful for VtagO to use or possess in connection with the provision of the Service.
		7.7 You agree that Content you submit to the Service will not contain any third party copyright material, or material that is subject to other third party proprietary rights (including rights of privacy or rights of publicity), unless you have a formal licence or permission from the rightful owner, or are otherwise legally entitled, to post the material in question and to grant VtagO the licence referred to in paragraph 8.1 below.
		7.8 On becoming aware of any potential violation of these Terms, VtagO reserves the right (but shall have no obligation) to decide whether Content complies with the content requirements set out in these Terms and may remove such Content and/or terminate a User's access for uploading Content which is in violation of these Terms at any time, without prior notice and at its sole discretion.
		7.9 You further understand and acknowledge that in using the Service, you may be exposed to Content that is factually inaccurate, offensive, indecent, or otherwise objectionable to you. You agree to waive, and hereby do waive, any legal or equitable rights or remedies you have or may have against VtagO with respect to any such Content.
		8. Rights you license
		8.1 When you upload or post Content to VtagO, you grant:
		1. to VtagO, a worldwide, non-exclusive, royalty-free, transferable licence (with right to sub-licence) to use, reproduce, distribute, prepare derivative works of, display, make available to the public, broadcast and publically perform that Content in connection with the provision of the Service and otherwise in connection with the provision of the Service and VtagO's business, including without limitation for promoting and redistributing part or all of the Service (and derivative works thereof) in any media formats and through any media channels;
		2. to each user of the Service, a worldwide, non-exclusive, royalty-free licence to access your Content through the Service, and to use, reproduce, distribute, prepare derivative works of, display and perform such Content to the extent permitted by the functionality of the Service and under these Terms.
		8.2 The above licenses granted by you in Content terminate when you remove or delete your Content from the Website. The above licenses granted by you in textual comments you submit as Content are perpetual and irrevocable, but are otherwise without prejudice to your ownerships rights, which are retained by you as set out in paragraph 7.2 above.
		9. VtagO content on the Website
		9.1 With the exception of Content submitted to the Service by you, you are not granted any right and/or license, or ownership including any copyright, trade mark and other intellectual property rights to any Content, other than as explicitly set forth in these Terms. Any third party trade or service marks present on Content not uploaded or posted by you are trade or service marks of their respective owners. Such Content may not be downloaded, copied, reproduced, distributed, transmitted, broadcast, displayed, sold, licensed, or otherwise exploited for any other purpose whatsoever without the prior written consent of VtagO or, where applicable, VtagO's licensors. VtagO and its licensors reserve all rights not expressly granted in and to their Content.
		10. Links from VtagO
		10.1 The Service may include hyperlinks to other web sites that are not owned or controlled by VtagO. VtagO has no control over, and assumes no responsibility for, the content, privacy policies, or practices of any third party websites.
		10.2 You acknowledge and agree that VtagO is not responsible for the availability of any such external sites or resources, and does not endorse any advertising, products or other materials on or available from such web sites or resources.
		10.3 You acknowledge and agree that VtagO is not liable for any loss or damage which may be incurred by you as a result of the availability of those external sites or resources, or as a result of any reliance placed by you on the completeness, accuracy or existence of any advertising, products or other materials on, or available from, such web sites or resources.
		10.4 VtagO encourages you to be aware when you leave the Service and to read the terms and conditions and privacy policy of each other website that you visit.
		11. Ending your relationship with VtagO
		11.1 The Terms will continue to apply until terminated by either you or VtagO as set out below.
		11.2 If you want to terminate your legal agreement with VtagO, you may do so by (a) notifying VtagO at any time and (b) closing your VtagO account. Your notice should be sent, in writing, to VtagO's address which is set out at the beginning of these Terms.
		11.3 VtagO may at any time terminate its legal agreement with you if:
		1. you have breached any provision of the Terms (or have acted in manner which clearly shows that you do not intend to, or are unable to comply with the provisions of the Terms); or
		2. VtagO is required to do so by law (for example, where the provision of the Service to you is, or becomes, unlawful); or
		11.4 VtagO may terminate its legal agreement with you if:
		1. VtagO is transitioning to no longer providing the Service to users in the country in which you are resident or from which you use the Service; or
		2. the provision of the Service to you by VtagO is, in VtagO's opinion, no longer commercially viable
		and in the case of each of A and B of this clause 11.4 shall, where possible, give reasonable notice of such termination.
		11.5 When these Terms come to an end, all of the legal rights, obligations and liabilities that you and VtagO have benefited from, been subject to (or which have accrued over time whilst the Terms have been in force) or which are expressed to continue indefinitely, shall be unaffected by this cessation, and the provisions of paragraph 14.6 shall continue to apply to such rights, obligations and liabilities indefinitely.
		12. Exclusion of Warranties
		12.1 Nothing in the Terms shall affect any statutory rights which you are always entitled to as a consumer and that you cannot contractually agree to alter or waive.
		12.2 The Service is provided "as is" and VtagO makes no warranty or representation to you with respect to them.
		12.3 In particular VtagO does not represent or warrant to you that:
		1. your use of the Service will meet your requirements,
		2. your use of the Service will be uninterrupted, timely, secure or free from error,
		3. any information obtained by you as a result of your use of the Service will be accurate or reliable, and
		4. that defects in the operation or functionality of any software provided to you as part of the Service will be corrected.
		12.4 TO THE MAXIMUM EXTENT PERMITTED BY LAW, VtagO DISCLAIMS ALL CONDITIONS, WARRANTIES OR OTHER TERMS OF ANY KIND (INCLUDING WITHOUT LIMITATION ANY EXPRESSED AND/OR IMPLIED TERMS AS TO SATISFACTORY QUALITY, FITNESS FOR PURPOSE OR CONFORMANCE WITH DESCRIPTION AND/OR NON-INFRINGEMENT) THAT MAY APPLY TO THE SERVICE EXCEPT TO THE EXTENT THAT THEY ARE EXPRESSLY SET OUT IN THE TERMS.
		13. Limitation of Liability
		13.1 Nothing in these Terms shall exclude or limit VtagO's liability for losses which may not be lawfully excluded or limited by applicable law.
		13.2 Subject to the overall provision in paragraph 13.1 above VtagO shall not be liable to you for:
		1. ANY INDIRECT OR CONSEQUENTIAL LOSSES WHICH MAY BE INCURRED BY YOU. THIS SHALL INCLUDE ANY LOSS OF PROFIT (WHETHER INCURRED DIRECTLY OR INDIRECTLY), ANY LOSS OF GOODWILL OR BUSINESS REPUTATION, OR ANY LOSS OF DATA SUFFERED BY YOU;
		2. any loss or damage which may be incurred by you as a result of:
		1. any reliance placed by you on the completeness, accuracy or existence of any advertising, or as a result of any relationship or transaction between you and any advertiser or sponsor whose advertising appears on the Service;
		2. any changes which VtagO may make to the Service, or for any permanent or temporary cessation in the provision of the Service (or any features within the Service);
		3. the deletion of, corruption of, or failure to store, any Content and other communications data maintained or transmitted by or through your use of the Service;
		4. your failure to provide VtagO with accurate account information;
		5. your failure to keep your password or VtagO account details secure and confidential.
		3. VtagO’S LIABILITY UNDER, ARISING OUT OF OR RELATING TO THIS AGREEMENT SHALL NOT EXCEED FEES PAID BY YOU TO VtagO IN CONNECTION WITH THE SERVICE HEREUNDER DURING THE TWELVE (12) MONTHS PRECEDING THE EVENT THAT GAVE RISE TO THE CLAIM; OR TO THE EXTENT NO SUCH FEES APPLY, VtagO SHALL HAVE NO LIABILITY WHATSOEVER.
		13.3 The limitations on VtagO's liability to you in paragraph 13.2 above shall apply whether or not VtagO has been advised of or should have been aware of the possibility of any such losses arising.
		14. General legal terms
		14.1 The Terms constitute the whole legal agreement between you and VtagO and govern your use of the Service and completely replace any prior agreements between you and VtagO in relation to the Service. All other terms of service that Google Inc. and any of its subsidiaries may have in place from time to time are expressly excluded from the Terms.
		14.2 You agree that VtagO may provide you with notices, including those regarding changes to the Terms, by email, regular mail, or postings on the Service.
		14.3 You agree that if VtagO does not exercise or enforce any legal right or remedy which is contained in the Terms (or which VtagO has the benefit of under any applicable law), this will not be taken to be a formal waiver of VtagO's rights and that those rights or remedies will still be available to VtagO.
		14.4 If any court of law, having the jurisdiction to decide on this matter, rules that any provision of these Terms is invalid, then that provision will be removed from the Terms without affecting the rest of the Terms. The remaining provisions of the Terms will continue to be valid and enforceable.
		14.5 You acknowledge and agree that each member of the group of companies of which VtagO is a part shall be third party beneficiaries to the Terms and that such other companies shall be entitled to directly enforce, and rely upon, any provision of the Terms which confers a benefit on (or rights in favour of) them. Other than this, no other person or company shall be a third party beneficiary of the Terms.
		14.6 The Terms, and your relationship with VtagO under the Terms, shall be governed by English law. You and VtagO agree to submit to the exclusive jurisdiction of the courts of England to resolve any legal matter arising from the Terms. Notwithstanding this, you agree that VtagO shall still be allowed to apply for injunctive remedies (or other equivalent types of urgent legal remedy) in any jurisdiction.
	</p>
			</div>
		</div>	
	</div>
</body>